@import "../abstracts/variables";
@import "../abstracts/mixins";

.btn {
    background-color: $primary-color;
    color: $white-color;
    font-weight: 700;
    border-radius: 40px;


    &:hover {
        background-color: $white-color;
        color: $primary-color;
        transition: 0.4s;
    }
}

.btn--small {
    padding: 11px 23px;
    font-size: 15px;
    border: 1px solid $primary-color;

    @media (min-width: $bp-medium) {
        padding: 11px 33px;
        font-size: 16px;
    }
}

.btn--large {
    min-width: 290px;
    padding: 13px 29px;
    font-size: 18px;
    line-height: 1.1em;
    border: 2px solid $primary-color;

    @media (min-width: $bp-medium) {
        min-width: 390px;
        padding: 20px 59px;
        font-size: 21px;
    }
}