@import "../abstracts/variables";
@import "../abstracts/mixins";


.header__drop-down {
    width: 26px;
    height: 26px;
    @include flex;

    @media (min-width: $bp-medium) {
        display: none;
    }
}

.header__burger-menu--unpress {
    @include burger-menu-element;
    position: relative;

    &::before {
        content: "";
        @include burger-menu-element (15px);
        position: absolute;
        bottom: 8px;
        right: 0;
    }

    &::after {
        content: "";
        @include burger-menu-element;
        position: absolute;
        top: 8px;
        right: 0;
    }
}

.header__burger-menu {
    display: none;
}

.header__burger-menu--press {
    @include burger-menu-element;
    rotate: 45deg;
    position: relative;

    &::after {
        content: "";
        @include burger-menu-element;
        rotate: 90deg;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.js-active {
    display: block;
}

