// font-family: 'Lato', sans-serif;

body {
	font-family: 'Montserrat', sans-serif;
}

.content-container {
	min-width: 340px;
	max-width: 1220px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	box-sizing: border-box;
}

