@import "../abstracts/variables";

@mixin flex ($justify-content: center, $align-items: center, $flex-direction: row) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-direction: $flex-direction;
}

@mixin grid ($grid-template-columns: repeat(1, 1fr), $column-gap: 45px, $row-gap: 58px, $grid-auto-rows: auto) {
	display: grid;
	grid-template-columns: $grid-template-columns;
	grid-auto-rows: $grid-auto-rows;
	column-gap: $column-gap;
	row-gap: $row-gap;
}

@mixin burger-menu-element ($width: 26px) {
	width: $width;
	height: 3px;
	border-radius: 5px;
	background-color: $white-color;
}

@mixin psevdo-element-download {
	width: 100%;
	font-family: $font-montserrat;
	font-size: 14px;
	font-weight: normal;
	color: $text-info-color;
	position: absolute;
	bottom: -2.3em;
	left: 50%;
	translate: -50%;
}

@mixin background ($min-height: 720px, $background-size: cover, $background-position: bottom) {
	background-size: $background-size;
    background-repeat: no-repeat;
    min-width: 340px;
    min-height: $min-height;
    width: 100%;
    background-position: $background-position;
    text-align: center;
    position: relative;
    z-index: 0;
}

@mixin font ($font-size: 16px, $line-height: 18px, $color: $white-color, $font-weigth: 400) {
	font-weight: $font-weigth;
	font-size: $font-size;
	line-height: $line-height;
	color: $color;
  }

