$primary-color: #8D81AC;
$white-color: #FFFFFF;
$text-info-color: #848E97;

$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

//--- BREAKPOINTS ---
$bp-medium: 481px;
$bp-large: 993px;
