@import "../abstracts/variables";
@import "../abstracts/mixins";

.advantages {
	padding-top: 32px;
	padding-bottom: 5px;

	@media (min-width: $bp-medium) {
		padding-top: 62px;
	}

	@media (min-width: $bp-large) {
		padding-top: 94px;
		padding-bottom: 33px;
		background-color: #F4F4F4;
	}
}

.advantages__wrapper {
	@media (min-width: $bp-large) {
		@include grid(1fr 54%, 30px, 0, 65px auto);
	}
}

.advantages__title {
	text-align: center;
	@include font (32px, 38px, $primary-color, 700);
	width: 90%;
	margin: 0 auto 34px;

	@media (min-width: $bp-medium) {
		font-size: 42px;
		line-height: 44px;
		width: 95%;
		margin-bottom: 50px;
	}
	@media (min-width: $bp-large) {
		text-align: left;
		font-size: 4vw;
		line-height: 50px;
		width: 100%;
		margin-bottom: 18px;
		padding-left: 20px;
		white-space: nowrap;
	}
	@media (min-width: 1200px) {
		font-size: 48px;
	}
}

.advantages__list {
	grid-row: 1 / span 2;
	width: 90%;
	margin: 0 auto 60px;

	@media (min-width: $bp-medium) {
		width: 95%;
		margin-bottom: 72px;
	}
	@media (min-width: $bp-large) {
		width: 100%;
		margin-bottom: 0;
		padding-top: 5px;
	}
}

.adventages__item {
	@include flex(flex-start, center, column);
	gap: 25px;

	&:first-child {
		img {
			margin-left: 25px;
		}
	}
	&:not(:last-child) {
		margin-bottom: 40px;
	}

	@media (min-width: $bp-medium) {
		flex-direction: row;
		align-items: flex-start;

		&:first-child {
			img {
				margin-left: 0;
			}
		}
		&:not(:last-child) {
			margin-bottom: 60px;
		}
		img {
			flex-basis: 111px;
			flex-shrink: 0;
			object-fit: none;
			margin-top: 6px;
		}
	}
	@media (min-width: $bp-large) {
		&:not(:last-child) {
			margin-bottom: 35px;
		}
	}
}	

.adventages__item-description {
	text-align: center;

	@media (min-width: $bp-medium) {
		text-align: start;
	}
}

.adventages__item-title {
	@include font (16px, 21px, #323232);
	margin-bottom: 15px;
}

.adventages__item-text {
	@include font (14px, 21px, $text-info-color);
}

.adventages__editor-img-wrapper {
	height: 381px;
	display: flex;
	justify-content: flex-end;
	margin-right: -10px;
	overflow: hidden;

	@media (min-width: $bp-medium) {
		height: auto;
	}
}

.adventages__editor-img {
	height: 100%;	
	object-fit: cover;	
	object-position: left;

	@media (min-width: $bp-medium) {
		width: 100%;
		padding-left: 10%;
	}
	@media (min-width: $bp-large) {
		object-position: left top;
		object-fit: contain;	
		padding-left: 0;
	}
}