@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/base";

.page-download {
    background-image: url(../img/header/bgi_Fork_App.png);
    @include background;
    margin-bottom: 50px;
}

.page-download__wrapper {
    width: 100%;
}

.page-download__title {
    @include font (48px, 1em, $white-color, 700);
    padding-top: 1em;
    margin-bottom: 19px;

    @media (min-width: $bp-medium) {
        font-size: 72px;
    }

    @media (min-width: $bp-large) {
        font-size: 82px;
        padding-top: 0.7em;
    }
}

.page-download__desc {
    @include font (18px, 24px, $primary-color);
    position: relative;

    &::after {
        content: "v. 2.8 For Mac and Windows";
        @include psevdo-element-download;
        text-transform: uppercase;

        @media (min-width: $bp-large) {
            font-size: 16px;
        }
    }

    @media (min-width: $bp-medium) {
        font-size: 24px;
        line-height: 1em;
        font-family: $font-lato;
    }

    @media (min-width: $bp-large) {
        font-size: 30px;
    }
}

.page-download__btn {
    position: absolute;
    left: 50%;
    translate: -50%;
    top: calc(100% - 24px);
    z-index: 1;

    &::after {
        content: "Unlimited 30-Days Trial Period";
        @include psevdo-element-download;
    }

    @media (min-width: $bp-medium) {
        top: calc(100% - 33px);
    }
}

