@import "../abstracts/variables";
@import "../abstracts/mixins";


.header {
    background: #27262A;
    width: 100%;
    position: relative;
    z-index: 1;

    @media (min-width: $bp-large) {
        background: #000;
    }
}

.header__wrapper {
    @include flex (space-between);
    padding: 32px 13px;


    @media (min-width: $bp-medium) {
        flex-wrap: wrap;
        padding: 24px 20px 18px;
    }

    @media (min-width: $bp-large) {
        flex-wrap: nowrap;
        padding: 31px 80px 26px;
    }
}

.header__logo {
    padding-left: 60px;
    position: relative;
    transition: 0.4s;

    &::before {
        content: "";
        width: 43px;
        height: 42px;
        background-image: url('../img/header/Logo.svg');
        position: absolute;
        top: -17px;
        left: 0;
        transition: 0.4s;
    }
   
    span {
        @include font (24px, 16px, $primary-color, 700);
        text-transform: uppercase;
        font-family: $font-lato;
        display: none;
        transition: 0.4s;

        @media (min-width: $bp-medium) {
            display: block;
        }
    }

    &:hover {
        &::before {
            content: "";
            background-image: url('../img/header/logo_hover.svg');
        }
        span {
            color: $white-color;
        }
    }
}

.header__btn {
    @media (min-width: $bp-large) {
        order: 3;
    }
}

.header__nav-list {
    @include flex (center, flex-start, column);
    background: #333333;
    padding-bottom: 14px;
    position: absolute;
    right: 15px;
    top: 100%;
    width: 292px;
    display: none;
    
    @media (min-width: $bp-medium) {
        @include flex (space-between, center, row);
        flex-basis: auto;
        background: inherit;
        width: 90vw;
        max-width: 680px;
        position: inherit;
        margin: 23px auto 0;
        padding-bottom: 0;
    }

    @media (min-width: $bp-large) {
        order: 2;
        gap: 3vw;
        width: fit-content;
        margin: auto 3vw auto auto;
    }
}

.header__nav-item {
    width: 100%;
    height: fit-content;
    padding: 29px 35px 21px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 3px solid #3B3B3B;
    display: block;
   
    a {
        @include font (26px, 1em, $white-color);
        width: 100%;
        transition: 0.4s;

        @media (min-width: $bp-medium) {
            @include font (16px, 1em, $primary-color, 700);
        }
    }

    @media (max-width: $bp-medium) {

        &:hover,
        &:active,
        &:focus {
            a {
                color: $primary-color;
            }

            &::before {
                content: "";
                width: 8px;
                height: 53px;
                background-color: $primary-color;
                position: absolute;
                top: 19px;
                left: 0;
            }
        }
    }

    @media (min-width: $bp-medium) {
        width: fit-content;
        padding: 0;
        border-bottom: none;
        text-align: center;
        position: inherit;

        &:hover {
            a {
                color: $white-color;
            }
        }
    }
}

.dropdown {
    display: flex;
}