@import '../abstracts/mixins';
@import '../abstracts/variables';

.pricing {
	padding-top: 5px;
	padding-bottom: 20px;
	background-image: url('../img/pricing/pricing-bg1.png');
	@include background(100%, cover, center);

	@media (min-width: $bp-medium) {
		padding-top: 70px;
		padding-bottom: 90px;
		background-image: url('../img/pricing/pricing-bg2.png');
	}
	@media (min-width: $bp-large) {
		padding-top: 83px;
		background-image: url('../img/pricing/pricing-bg3.png');
	}
}

.pricing__title {
	@include font (28px, 42px, $white-color, 700);
	text-align: center;
	width: 90%;
	margin: 0 auto 32px;

	@media (min-width: $bp-medium) {
		font-size: 42px;
		line-height: 44px;
		margin-bottom: 39px;
		width: 95%;
	}
	@media (min-width: $bp-large) {
		font-size: 48px;
		line-height: 50px;	
		margin-bottom: 61px;
	}
}

.pricing__tariffs-wrapper {
	@include grid(1fr, 0, 18px);

	@media (min-width: $bp-medium) {
		@include grid(repeat(2, 1fr), 25px, 30px);
	}

	@media (min-width: $bp-large) {
		@include grid(1fr 1fr 1.17fr 1fr, 15px, 0);
		align-items: center;
		max-width: 1120px;
		margin: 0 auto;
	}
}

.pricing__tariff-item {
	display: flex;
	justify-content: center;

	&:first-child {
		.pricing__tariff-option {
			margin-bottom: 59px;
		}
	}

	@media (min-width: $bp-medium) {
		&:nth-child(odd) {
			justify-content: flex-end;
		}		
		&:nth-child(even) {
			justify-content: flex-start;
		}
		&:nth-child(4) {
			align-items: center;
		}
	}
	@media (min-width: $bp-large) {
		&:nth-child(n) {
			justify-content: center;
		}
	}
}

.pricing__tariff {
	width: 100%;
	flex-grow: 1;
	background-color: rgba(255, 255, 255, 0.11);
	color: $white-color;
	max-width: 257px;
	min-height: 460px;
	padding-bottom: 36px;

	span {
		display: block;
	}

	&--active {
		background-color: rgba(70, 48, 72, 1);
		max-width: 299px;
		min-height: 560px;
		
		.pricing__tariff-user {
			padding: 43px 20px;
			margin-bottom: 14px;
			background: rgba(0, 0, 0, .11);
		}
		.pricing__tariff-price {
			font-size: 82px;
			line-height: 90px;
			margin-bottom: 16px;
		}
		.pricing__tariff-condition {
			padding-bottom: 91px;
			&:after {
				bottom: 40px;
			}
		}
		.pricing__tariff-option {
			margin-bottom: 83px;
		}
		.pricing__tariff-btn {
			padding: 19px 48px;
		}
	}
}

.pricing__tariff-user {
	padding: 36px 8px;
	margin-bottom: 30px;
	background-color: rgba(255, 255, 255, 0.06);
	font-size: 24px;
	line-height: 1em;
	text-transform: uppercase;
}

.pricing__tariff-price {
	@include font (60px, 62px, $white-color, 700);
	margin-bottom: 20px;
}

.pricing__tariff-condition {
	@include font (14px, 16px, $white-color);
	text-transform: uppercase;
	padding-bottom: 73px;
	position: relative;

	&:after {
		content: '';
		display: block;
		width: 60px;
		height: 5px;
		background-color: $primary-color;
		position: absolute;
		left: calc(50% - 30px);
		bottom: 30px;
	}
}

.pricing__tariff-option {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 35px;
}

.pricing__tariff-btn {
	font-size: 16px;
	line-height: 15px;
	text-transform: uppercase;
	padding: 15px 37px;
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 40px;
}