@import "../abstracts/variables";
@import "../abstracts/mixins";


.testmonials {
    background-image: url('../img/testmonials/testmonial_bg.png');
    background-color: #4c3b4e;
    @include background (fit-content, auto 45%, top);
    padding-bottom: 36px;
   
    @media (min-width: $bp-medium) {
        @include background (fit-content, cover, top);
    }
}

.testmonials__wrapper {
    text-align: center;
    padding-top: 57px;
    width: 100%;
    
    @media (min-width: $bp-medium) {
        padding-top: 86px;
    }

    @media (min-width: $bp-medium) {
        padding-top: 108px;
    }

    &::after {
        content: "";
        width: 70%;
        height: 2px;
        background-color: #645766;
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.testmonials__title {
    @include font (36px, 48px, $white-color, 700);

    @media (min-width: $bp-medium) {
        font-size: 42px;
        line-height: 1.05em;
    }

    @media (min-width: $bp-large) {
        font-size: 48px;
    }
}

.testmonials__grid {
    @include grid;
    width: 90%;
    margin: 53px auto 37px;

    @media (min-width: $bp-medium) {
        @include grid(repeat(2, 1fr), 63px, 58px);
        width: 98%;
        margin: 88px auto 68px;
        align-self: flex-end;
    }

    @media (min-width: $bp-large) {
        @include grid(repeat(3, 1fr), 83px, 111px);
        width: 86%;
        margin: 82px auto 119px;
    }
}

.testmonials__grid-item {
    @include flex (flex-end, center, column);
    margin-bottom: 4px;
    gap: 1.9em;
}

.testmonials__item-desc {
    @include font (16px, 24px, $white-color, 700);
    font-family: $font-lato;
    font-style: italic;
}

.testmonials__text {
    @include font (14px, 21px, #A291A5);
    font-family: $font-lato;
    display: block;
    text-align: center;
    width: 90vw;
    margin: 0 auto;

    @media (min-width: $bp-medium) {
        width: 90vw;
    }

    @media (min-width: $bp-large) {
        width: 887px;
    }
}